.zoom-animation {
    animation: zoomInOut 10s ease-in-out infinite;
    
  }
  
  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  